@model EnmerWeb.Models.AppModel
@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

@section head{
    <title ng-bind="($title || 'Enmer')">Enmer</title>
}

<section ng-cloak layout="row" ng-controller="EnmerCtrl" style="margin:20px">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" style="margin-right: 10px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div>{{profile.firstName}} {{profile.lastName}}</div>
            </div>
        </md-toolbar>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <ng-md-icon size="64" icon="account_circle" style="fill: white" ng-if="!profile.pictureID"></ng-md-icon>
                <img class="userpick-image" ng-src="/api/image/{{profile.pictureID}}" ng-if="profile.pictureID" style="margin-bottom: 4px;" />
                <span flex></span>
                @using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
                {
                    <md-button class="md-icon-button" aria-label="Settings" type="submit">
                        <ng-md-icon icon="exit_to_app" style="fill: white"></ng-md-icon>
                    </md-button>
                }
            </div>
        </md-toolbar>
        <md-list id="main_menu">
            <md-list-item>
                <a href="/">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="dashboard"></ng-md-icon>
                        </div>
                        <div class="inset">
                            Dashboard
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a href="/notifications">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="notifications"></ng-md-icon>
                        </div>
                        <div class="inset">
                            Notifications
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a  href="/sources">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="apps"></ng-md-icon>
                        </div>
                        <div class="inset">
                            Logging Sources
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a  href="/tasks">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="toys"></ng-md-icon>
                        </div>
                        <div class="inset">
                            Tasks
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            @*<md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="folder"></ng-md-icon>
                        </div>
                        <div class="inset">
                            Logs
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>*@
            <md-list-item>
                <a  href="/team">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="people"></ng-md-icon>
                        </div>
                        <div class="inset">
                            Team
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Settings</md-subheader>
            <md-list-item>
                <a href="/myaccount">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                        </div>
                        <div class="inset">
                            Account
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a  href="/preferences">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="settings"></ng-md-icon>
                        </div>
                        <div class="inset">
                            Preferences
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
        </md-list>

    </md-sidenav>

    <div flex class="md-whiteframe-z2" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <span ng-bind="($title || 'Enmer')" flex></span>
                <div ui-view="toolbar" layout-align="end center" layout="row"></div>
            </div>
        </md-toolbar>
        <div class="loading" data-loading >
        </div>
        <section ui-view="content" flex layout="column"></section>
    </div>
</section>


@section scripts{
    <script src="~/Scripts/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-ui-router-title/angular-ui-router-title.js"></script>
    <script src="~/Scripts/angular-material-icons/angular-material-icons.js"></script>
    <script src="~/Scripts/angular-resource/angular-resource.js"></script>
    <script src="~/Scripts/app/routing.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/app/connect.js"></script>
    <script src="~/Scripts/app/appController.js"></script>
    <script src="~/Scripts/app/accountSettingsController.js"></script>
    <script src="~/Scripts/app/loggingSourceController.js"></script>
}