<md-content class="md-padding">
    <form name="profileSettingsForm" novalidate="" ng-submit="save()">
        <div layout="row" layout-align="start">
            <md-button class="md-raised" type="submit" ng-disabled="false">Save</md-button>
        </div>
    </form>
    </md-content>