body {
    background-color: #ffffff;
    margin: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#main_menu
{ 
    ng-md-icon {
    fill: gray
    }

    a {
        text-decoration: none ;
    }
    a, a:visited, a:hover, a:active {
      color: inherit;
    }
}

.userpick-image{
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    max-width: 64px;
    max-height: 64px;
}