body {
  background-color: #ffffff;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

#main_menu ng-md-icon {
  fill: gray; }

#main_menu a {
  text-decoration: none; }

#main_menu a, #main_menu a:visited, #main_menu a:hover, #main_menu a:active {
  color: inherit; }

.userpick-image {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  max-width: 64px;
  max-height: 64px; }

